/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:70px;
	right:10px;
	overflow:hidden;
	width:64px;
	height:64px;
	border:none;
	text-indent:100%;
	background:url(../img/up1.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/up1.png) no-repeat left;
	width:64px;
	height:64px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}